<h1 style="text-align:center; color: orangered;"><%= PageState.Title %></h1>
<div class="NavWrapper">
    <form action="/Logout" method="post" class="LogoutButtonForm">
        <button class="LogoutButton">LogOut</button>
    </form>
</div>