<form action="<%= Data._Action %>" method="get">
    <button type="menu" id="CancelButton" class="ExitButton" name="CancelButton" value="true">
        <img src="uploads/cancel-48x.png" alt="" width="28px" height="28px">
    </button>
</form>