<h1 style="text-align:center; color: orangered;"><%= Data.DisplayTitle %></h1>
<div class="NavWrapper">
    <button type="button" class="NavBar">
        <a class="NavBarElements block" href="/">Home</a>
    </button>
</div>