<h1 style="text-align:center; color: orangered;"><%= DisplayTitle %></h1>
        <button type="button" class="NavBar">
            <a class="NavBarElements block" href="/">Home</a>
        </button>
        <button type="button" id="LoginButton" class="NavBar">
            Login
        </button>