<script src="/socket.io/socket.io.js"></script>
<script async>
var socket = io();

socket.emit("init");

var BaseContainer = document.getElementById("ProductListContainer");
var Add = document.getElementById("Add");
let scrollLock = false;
var ScrollPosY = undefined;
var ScrollDirection = {Up:false, Down:false};
let Start = false;
const ContainerLength = 100;
var ViewOffset = 1; //Element offset for visibility check
var ElementContainer = [];
var ProductList = [];

var ClientData = {
    DisplayIndexInternal: 1,
    DisplayIndexListener: function(val){},
    set DisplayIndex(val){
        this.DisplayIndexInternal = val;
        this.DisplayIndexListener(val);
    },
    get DisplayIndex(){
        return this.DisplayIndexInternal;
    },
    registerListener: function(listner){
        this.DisplayIndexListener = listner;
    }
}

var PreviousIndex = ClientData.DisplayIndex;
var NextIndex = ClientData.DisplayIndex + 1;

ClientData.registerListener(function(val){
    NextIndex = ClientData.DisplayIndex + 1;
    if(ClientData.DisplayIndex > 1){
        PreviousIndex = ClientData.DisplayIndex - 1;
    }
});


function setAttributes(el, attrs) {
    if(el == undefined){
        return;
    }
  for(var key in attrs) {
    el.setAttribute(key, attrs[key]);
  }
}

function CreateElement(){
    var Container = document.createElement("div");
    setAttributes(Container, {'class':'ProductContainer', 'style':'background-image: url("");'});
    var Form1 = document.createElement("div");
    setAttributes(Form1, {"id":'Delete'});
    Form1.insertAdjacentHTML("beforeend", "<button class='DeleteButton' type='submit' name='Sable' value='null'></button>");
    var Form2 = document.createElement("div");
    setAttributes(Form2, {"id":'Update'});
    Form2.insertAdjacentHTML("beforeend", "<button class='UpdateButton' type='submit' name='Sable' value='null'></button>");
    var Form3 = document.createElement("div");
    setAttributes(Form3, {'style':'height:100%;'});
    Form3.insertAdjacentHTML("beforeend", '<button class="ProductButton" name="C_Product" value="null" ><div class="NameContainer"><p class="ItemName">SKU:null</p><p class="ItemName">Brand:null</p><p class="ItemName">Color:null</p></div></button>');    
    Container.appendChild(Form1);
    Container.appendChild(Form2);
    Container.appendChild(Form3);
    return Container;
}

function Produce(Ele, key, sku, brand, color){
    Ele.setAttribute("style", `background-image: url()`);
    Ele.children[0].setAttribute("value", `${key}`);
    Ele.children[0].children[0].setAttribute("value", `${key}`);
    Ele.children[1].children[0].setAttribute("value", `${key}`);
    Ele.children[2].children[0].setAttribute("value", `${key}`);
    Ele.children[2].children[0].children[0].children[0].textContent = `SKU:${sku}`;
    Ele.children[2].children[0].children[0].children[1].textContent = `Brand:${brand}`;
    Ele.children[2].children[0].children[0].children[2].textContent = `Color:${color}`;
    return true;
}

function BuildProductArray(msg, StartIndex, FinishIndex){
    for(let j = StartIndex; j < FinishIndex; j++) //Build the elements
    {
        //setTimeout(() => {
        Produce(ProductList[j], msg[j].key, msg[j].sku, msg[j].brand, msg[j].Color);
        //}, 2*j);
    }
    //BuildContainer(ProductList, StartIndex, FinishIndex);
    console.log("Finished: " + StartIndex + " - " + FinishIndex);
}

function BuildFactory(msg, Length, Max){
    console.log((Length / Max % 1));
    console.log(Length / Max);

    try{
        for(let i = 0; i < Math.ceil(Length / Max); i++){
            setTimeout(() => {
                if(i >= Math.floor(Length / Max) && Length / Max % 1 < 1){
                    BuildProductArray(msg, (Max*i), Length-1);
                    console.log("End");
                }else{
                    BuildProductArray(msg, (Max*i), Max*(i+1));
                }
                //console.log((Max*i), Max*(i+1));
            }, 5*i);
        }
    }catch(e){
        console.log(e);
    }
}


function RemoveChildNodes(Element){ //Removes All Childeren and returns true if it manages to remove all else return false
    var count = 0;
    while(Element.hasChildNodes()){ //Remove all childeren from the BaseContainer
        Element.removeChild(Element.firstChild);
        if(count > 100000){
            return false;
        }
        count++;
    }
    return true;
}

function isVisible(elem) {
    if (!(elem instanceof Element)) throw Error('DomUtil: elem is not an element. ');
    const style = getComputedStyle(elem);
    if (style.display === 'none') return false;
    if (style.visibility !== 'visible') return false;
    if (style.opacity < 0.1) return false;
    if (elem.offsetWidth + elem.offsetHeight + elem.getBoundingClientRect().height +
        elem.getBoundingClientRect().width === 0) {
        return false;
    }
    const elemCenter   = {
        x: elem.getBoundingClientRect().left + elem.offsetWidth / 2,
        y: elem.getBoundingClientRect().top + elem.offsetHeight / 2
    };
    if (elemCenter.x < 0) return false;
    if (elemCenter.x > (document.documentElement.clientWidth || window.innerWidth)) return false;
    if (elemCenter.y < 0) return false;
    if (elemCenter.y > (document.documentElement.clientHeight || window.innerHeight)) return false;
    let pointContainer = document.elementFromPoint(elemCenter.x, elemCenter.y);
    do {
        if (pointContainer === elem) return true;
    } while (pointContainer = pointContainer.parentNode);
    return false;
}

/*
function BuildContainer(List, Start, End){
    var TempArray = [];
    for(let j = Start; j < End; j++) //Build the elements
    {
        TempArray.push(ProductList[j]);
    }
    ElementContainer.push(TempArray);
}
*/
/*
function BuildDisplayContainers(List, Length, Max){
    try{
        for(let i = 1; i < Length / Max; i++){
            setTimeout(() => {
                BuildContainer(List, (Max*i)+1, Max*(i+1)); 
            }, 5*i);
        }
    }catch(e){
        console.log(e);
    }
}
*/
function FirstBuild(msg){
    if(msg.length > 0){
        var Node = CreateElement();
        for(let j = 0; j < msg.length; j++){
            ProductList.push(Node.cloneNode(true)); //Push Clones into the array to fill our product need
        }
    }
    BuildProductArray(msg, 0, ContainerLength);
    BuildFactory(msg, ProductList.length, ContainerLength);        

    RemoveChildNodes(BaseContainer);
    for(let items = 0; items < ContainerLength; items++){
        BaseContainer.appendChild(ProductList[items]);
    }
    Re_getDocuments();
    AddButtonEventListeners();
}

function RebuildAfterDelete(ItemIndex){
    var PIndex = undefined;
    for(let i = 0; i < ProductList.length; i++){
        if(ProductList[i].children[0].children[0].getAttribute("value") == ItemIndex){
            //ProductList.splice(i, 1);
            PIndex = i;
            break;
        }
    }
    for(let k = 0; k < BaseContainer.children.length; k++){
        if(BaseContainer.children[k].isEqualNode(ProductList[PIndex])){
            BaseContainer.children[k].remove();
            BaseContainer.appendChild(ProductList[(ClientData.DisplayIndex*100)]);
        }
    }
    ProductList.splice(PIndex, 1);
}


function clone2D(a) {
  return a.map(o => [...o]);
}

function isScrolledIntoView(el) {
    var rect = el.getBoundingClientRect();
    var elemTop = rect.top;
    var elemBottom = rect.bottom;
    // Only completely visible elements return true:
    var isVisible = (elemTop >= 0) && (elemBottom <= window.innerHeight);
    // Partially visible elements return true:
    //isVisible = elemTop < window.innerHeight && elemBottom >= 0;
    return isVisible;
}


function UpdateList(){
    Re_getDocuments();
    //AddButtonEventListeners();
    for(let i = 0; i < BaseContainer.children.length; i++){
        if(BaseContainer.children[i] == undefined){
            continue;
        }
        var CurrentNode = BaseContainer.childNodes[i];
        var Curr = ClientData.DisplayIndex; //CurrentIndex
        var Next = NextIndex; //NextIndex
        var Prev = PreviousIndex; //Previous Index
        
        var LastIndexValue = Math.ceil(ProductList.length / ContainerLength);
        /*
        *   Check if element is what we are looking for, which is the last element in the index - Offset, then check if it is in the viewport
        */
        //console.log(ProductList[(Curr * ContainerLength)+ContainerLength-ViewOffset]);
        var UpOffset = (Curr * ContainerLength)-ViewOffset;
        if(Curr < LastIndexValue && CurrentNode.isEqualNode(ProductList[UpOffset]) && isScrolledIntoView(CurrentNode) && ScrollDirection.Down){
                /*
                *   Curr equal 1, so Next equals 2, which means we are adding 100 - 200
                */
                for(let u = (Curr * ContainerLength); u < (Next * ContainerLength); u++){
                    try{
                    if(ProductList[u] == undefined){
                        continue;
                    }
                    BaseContainer.appendChild(ProductList[u]);
                    if(Curr > 1){
                        BaseContainer.firstChild.remove();
                    }
                    }catch(e){
                        console.log(e);
                        console.log(u);
                    }
                }
                ClientData.DisplayIndex += 1;
//                console.log(BaseContainer.children.length);
        }
        //console.log(Curr)
        var DownOffset = ((Prev-1) * ContainerLength) + ViewOffset;
//        console.log(ProductList[DownOffset]);
        if(Curr > 1 && CurrentNode.isEqualNode(ProductList[DownOffset]) && isScrolledIntoView(CurrentNode) && ScrollDirection.Up){
            //var curScrollPos = BaseContainer.scrollTop;
            //var oldScroll = BaseContainer.scrollHeight - BaseContainer.clientHeight;
            var Offset = 2;
            if(Curr == 2){
                Offset = 1;
            }
            for(let d = ((Prev-1) * ContainerLength); d > ((Prev-Offset) * ContainerLength)-1; d--){
                try{                    
                BaseContainer.prepend(ProductList[d]);
                BaseContainer.lastChild.remove(); 
                }catch(e){
                    console.log(e);
                    console.log(d);
                }
            }
            //var newScroll = BaseContainer.scrollHeight - BaseContainer.clientHeight;
            //BaseContainer.scrollTop = curScrollPos + (newScroll - oldScroll);
            ClientData.DisplayIndex -= 1;
        }
    }
}

function Re_getDocuments(){
    BaseContainer = document.getElementById("ProductListContainer");
}

function AddButtonEventListeners(){
    BaseContainer.addEventListener("click", function(e){
        if(e.target){
            if(e.target.getAttribute("class") == "DeleteButton"){
                console.log("hello World");
                socket.emit('Delete', msg={Target:'<%- PageState.CurrentRenderTarget %>', Value:e.target.getAttribute("value")});
            }
            if(e.target.getAttribute("class") == "Update"){
                console.log("Update");
            }
        }
    });
}

var PrevScrollPosition = 0;
BaseContainer.addEventListener("scroll", (e) => {
    if(PrevScrollPosition == 0){
        PrevScrollPosition = BaseContainer.scrollTop;
    }
    if(PrevScrollPosition > BaseContainer.scrollTop){
        ScrollDirection.Up = true;
        ScrollDirection.Down = false;
    }
    if(PrevScrollPosition < BaseContainer.scrollTop){
        ScrollDirection.Down = true;
        ScrollDirection.Up = false;
    }
    PrevScrollPosition = BaseContainer.scrollTop;
    if(!scrollLock){
        scrollLock = true;
        setTimeout(() => {
          UpdateList();
          scrollLock = false;      
        }, 5);
    }
});

Add.addEventListener('click', function(e) {
    //socket.emit('Add', msg={Target:"Sable"});
});
socket.on("UPL", function(msg){
    socket.emit("UpdatePList");
});
socket.on("Delete", function(msg){ //TODO Recieve whether delete succeeded and if it did then remove the item and possibly rebuild?
    console.log(msg);
    RebuildAfterDelete(msg.Value);        
    //FirstBuild()
});
socket.on("Add", function(msg){
    //console.log(msg);
});
socket.on("init", function(msg){
    console.log("Init");
    FirstBuild(msg);
});
socket.on("reload", function(){
    console.log("Reloaded");
    FirstBuild(msg);
});
</script>