.BaseContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
    font-size: 1.5em;
    z-index: -1;
}

.LoginButton{
    all:unset;
    text-decoration: none;
    color:  black;
    font-weight: 500;
    background-color:#61DBFB;
    border-radius: 10px;
    padding: 3px;
    border-color: white;
    border-style:solid;
    margin-top: 2%;
    margin-bottom: 2%;
    z-index: 1;
}
.LoginButton:hover{
    animation: smallGrow 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color:black;
}
.LoginButton:active{
    color: white;
}


.LogoutButton{
    color:  black;
    background-color:#61DBFB;
    border-radius: 10px;
    border-color: white;
    border-style:solid;
    margin-top: 2%;
    margin-bottom: 2%;
    z-index: 1;
    width: 7%;
    height: 7%;
    font-weight: 600;
    font-size: 30px;
}

.LogoutButton:hover{
    animation: smallGrow 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.LogoutButton:active{
    color: white;
}

@keyframes smallGrow{
    from {
        backface-visibility: hidden;
        transform: scale(1);
    }
    to {
        backface-visibility: hidden;
        transform: scale(1.05);
    }
  }

.DataBaseHeader{
    color: white;
    font-size: 100px;
    margin: 0;
    padding: 0;
    text-decoration:underline;
    text-decoration-color: #61DBFB;
    text-shadow: 10px 1px black;
    z-index: 1;
}

.dbContainer{
    display: flex;
    flex-direction: column;
}

.dbLink{
    text-decoration: none;
    font-size: 60px;
    text-align: center;
    color: black;
    background-color: #61DBFB;
    margin:10px;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    border-width: 4px;
    z-index: 1;
    font-weight: 500;
    padding-left: 4px;
    padding-right: 4px;
}


.dbLink:hover{
    animation: smallGrow 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.dbLink:active{
    color: white;
}


.SineWaveCanvas{
    position: fixed;
    z-index: 0;
}