.FrontPage{
    background-color: #1E2E54;
}

.center{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.SableOrangeBackground{
    background-color: #F65E00;
}
.SableBlueBackground{
    color: #1E2E54;
}
.SableOrange{
    color: #F65E00
}
.SableBlue{
    color: #1E2E54;
}
.Link{
    text-decoration: none;
    color: white;
    font-size: 2em;
    flex-grow: 1;
    padding: 14px 28px;
}
.LargeButton{
    display: block;
    width: 20%;
    margin-right: 40%;
    margin-left: 40%;
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: #04AA6D;
}
.block{
    display: flex;
    width: 100%;
    border: none;
    /*background-color: #F65E00; */
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }

.ExitButton{
display: flex;
border: none;
/*background-color: #F65E00; */
font-size: 16px;
cursor: pointer;
text-align: center;
background-color: transparent;
float: right;
z-index: 10;
}

.NavWrapper{
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.NavBar{
    background-color: #F65E00;
    width: 5%;
    height: 2.2em;
    text-align: center;
    border-radius: 5px;
    /*margin-left: 35%;*/
    color: #1E2E54;
    margin-left: 10px;
    margin-right: 10px;
}

.NavBarElements{
    /*font-size: 1.5em; */
    color: white;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    border-radius: 0px;
    flex-direction: column;
}
.NavBar:hover{
    background-color: darkgrey;
}

.CenteredMenu{
    width: 100%;
    margin: auto;
    height: auto;
    text-align: center;
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    width:100%
}



.Items{
    padding-inline: 2.5px;
    border-right: 4px double black;
    display: inline-flex;
}
.ListItem{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    background-color: #04AA6D;
    margin-bottom: 5px;
}

.InnerPopUp{
    position:fixed; 
    width:50vw; 
    height: 50vh; 
    background-color: lightgrey; 
    top: 25%; 
    left: 25%;
}

.InnerPopUpDisplay{
    position:fixed; 
    width:60vw; 
    height: 75vh; 
    background-color: lightgrey; 
    top: 20%; 
    left: 20%;
    overflow: auto;
}

.BarButtonMenu{
    border:none; 
    background:none;
}

.BarButtonMenu:hover{
    background-color: rgba(255, 255, 255, .2);
}
.BarButtonMenu:active{
    background-color: rgba(255, 255, 255, .5);
}