.FrontPage{
    background-color: #1E2E54;
}

.center{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.SableOrangeBackground{
    background-color: #F65E00;
}
.SableBlueBackground{
    color: #1E2E54;
}
.SableOrange{
    color: #F65E00
}
.SableBlue{
    color: #1E2E54;
}
.Link{
    text-decoration: none;
    color: white;
    font-size: 2em;
    flex-grow: 1;
    padding: 14px 28px;
}
.LargeButton{
    display: block;
    width: 20%;
    margin-right: 40%;
    margin-left: 40%;
    margin-top: 4%;
    margin-bottom: 4%;
}
.block{
    display: flex;
    width: 100%;
    border: none;
    /*background-color: #F65E00; */
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
}

.block:hover{
    background-color: #2a4175;
    border-width: 0 .5px;
    border: solid white;
}

.ExitButton{
display: flex;
border: none;
/*background-color: #F65E00; */
font-size: 16px;
cursor: pointer;
text-align: center;
background-color: transparent;
float: right;
z-index: 10;
}


.ExitButton:hover{
    background-color: rgba(0, 0, 0, .2);
}

.NavWrapper{
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.NavBar{
    background-color: #F65E00;
    width: 5%;
    height: 2.2em;
    text-align: center;
    border-radius: 5px;
    /*margin-left: 35%;*/
    color: #1E2E54;
    margin-left: 10px;
    margin-right: 10px;
}

.NavBar:hover{
    background-color: #2a4175;
    border-width: .1px .1px;
    border: solid white;
}

.NavBarElements{
    /*font-size: 1.5em; */
    color: white;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    border-radius: 0px;
    flex-direction: column;
    font-size: 20px;
}


.CenteredMenu{
    width: 100%;
    margin: auto;
    height: auto;
    text-align: center;
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    width:100%
}



.Items{
    padding-inline: 2.5px;
    border-right: 4px double black;
    display: inline-flex;
}
.ListItem{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    background-color: #F65E00;
    margin-bottom: 5px;
}

.InnerPopUp{
    position:fixed; 
    width:50vw; 
    height: 50vh; 
    background-color: lightgrey; 
    top: 25%; 
    left: 25%;
}

.InnerPopUpDisplay{
    position:fixed; 
    width:60vw; 
    height: 75vh; 
    background-color: lightgrey; 
    top: 20%; 
    left: 20%;
    overflow: auto;
}

.BarButtonMenu{
    border:none; 
    background:none;
}

.BarButtonMenu:hover{
    background-color: rgba(255, 255, 255, .2);
}
.BarButtonMenu:active{
    background-color: rgba(255, 255, 255, .5);
}


body::-webkit-scrollbar{
    display:none;
}
.BaseContainer::-webkit-scrollbar{
    display: none;
}


.BaseContainer{
    width: 90%;
    height: 70vh;
    margin: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow: scroll;
    padding-bottom: 30px;
    border: 5px;
    border-style:solid;
    border-color: azure;

}

.ProductContainer{
    background-color: #F65E00;
    display: inline-flex;    
    flex-direction: column;
    width: 15%;
    height: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    
    transition: all 1s ease;
    transform: scale(1);
    border-color: azure;
    border-radius: 10px;
    border-style:solid;
    z-index: 9;
    background-image: url();

    background-size: 75% 80%;
    background-repeat: no-repeat;
    background-position-x: center;

}

.ProductContainer:hover{
    background-color: rgba(156, 63, 5, 0.2);
    transition: all 1s ease;
    transform: scale(1.1);
}


.ProductButton{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}
.ProductButton:hover{
    /*background-color: #2a4175;*/
    border-radius: 10px;
}

.DeleteButton{
    left: 89%;
    width: 26px;
    height: 26px;
    background-color: transparent;
    background-size: cover;
    background-image: url("../uploads/cancel-48x.png");
    position: fixed;
    z-index: 10;
    border: none;
}

.DeleteButton:hover{
    background-color: azure;
    border-radius: 20px;
}


.UpdateButton{
    left: 1%;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-size: cover;
    background-image: url("../uploads/EditButton.png");
    position: fixed;
    z-index: 10;
    border: none;
}


.UpdateButton:hover{
    background-image: url("../uploads/EditButtonHovered.png");
    border-radius: 2px;
}

.NameContainer{
    display: inline-flex; 
    position: fixed; 
    left: 0%; 
    top: 85%;
    width: 100%;
}
.ItemName{
    color: azure;
    font-size: .7vw;
    margin: auto;
    font-weight: 600;
    font-style: normal;
}


.SearchBox{
    font-size: 25px;
}

.SearchBar{
    display: inline-flex;
    flex-direction: row;
}

.SearchBarContainer{
    display: inline-flex;
    flex-direction: row;
    margin-left: 10px;
}


.AddButtonContainer{
    width: 20%;
    height: auto;
    background-color: #F65E00;
    border-color: azure;
    border-radius: 10px;
    border-style: solid;
}
.AddButtonContainer:hover{
    background-color: #1E2E54;
}
.MenuButtons{
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: none;
    font-size: larger;
    display: block;
    color: azure;
}

@keyframes FlyIn {
    from{
        transform: scale(0.25);
    }
    to{
        transform: scale(1);
    }
}

@keyframes grow{
  from{
    transform: rotate(180deg);
  }
  to{
    transform: rotate(90deg);
  }
}
@keyframes shake {
    30%, 70% {
      transform: rotate(1deg);
    }
    10%, 50%{
        transform: rotate(-1deg);
    }
    0%, 20%, 40%, 60%, 80% {
      transform: rotate(0);
    }
  }



.overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus{
    color: #f1f1f1;
}

.Overlay-Content{
    position: relative;
    top: .5em;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*
.Overlay-Content::after{
    content: "";
    flex: auto;
}
*/
.Overlay-Title{
    text-align: center; 
    color: white;
    margin-top: 2em;
    font-size: 2em;
}

.overlay .closebtn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.BackButton{
    position: absolute;
    top: 20px;
    left: 45px;
    font-size: 60px;
}


.InfoItem{
    background-color:#F65E00;
    color: white !important;
    border: #f1f1f1;
    border-style: solid;
    border-radius: 10px;
    margin: 10px;
}

.InfoItem:hover{
    background-color: #1E2E54;
}

.overlay::-webkit-scrollbar{
    display: none;
}



.CContainer{
    width: 90%;
}

.Column{
    margin: auto;
    display: flex;
    flex-direction: row;
    font-size: large;
}
.Row{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    flex-basis: 0%;
    flex-grow: 1;
}

.InnerRow{
    display: flex;
    flex-direction: row;
    margin: auto;
}