<div class="CenteredMenu" style="height: 100%">
    <h1 class="center" style="color:orangered">Items</h1>

    <div style="display:inline-flex; margin-bottom: 10px;">

        <form action="/Search" method="get">
            <input type="text" name="Search">
            <button type="submit">Search</button>
        </form>

        <form action=<%= PageState._Action %> method="get">
            <button name="Test" value="SMK110" type="menu" style="margin-left: 10px;">Filter</button>
        </form>

        <form action=<%= PageState._Action %> method="get" style="margin-left: 10px;">
            <button type="menu" name="_Add" value="Add">Add</button>
        </form>

    </div>
    <h2 class="SectionHeader"><%= PageState.SectionId %></h1>
    <%- include('./ProductDisplay') %>
</div>
