<div id="FullNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="CloseNav()">&times;</a>
    <h1 id="OVT" class="Overlay-Title">Select</h1> 
    <div id="OVC" class="Overlay-Content">
    </div>
</div>