<div id="FullNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="CloseNav()">&times;</a><!--Close Button-->
    <h1 id="OVT" class="Overlay-Title"></h1> <!--Title Changes based on Current place-->
    <div id="OVC" class="Overlay-Content"> <!--Holds different Buttons depending on Type-->
    </div>
</div>