
<% if(Data.MainPopUp) { %> 
    <div id="PopContainer">
        <div id="InnerPopUp" class="InnerPopUp">
            <%- include('../CancelButton', {Data:'PopUp'}) %>

            <% if (Edit) { %>
                <%- include('./SimpleEditForm') %>
            <% } %>            

            <% if (Add) { %>
                <%- include('./SimpleAddForm') %>             
            <% } %>
        </div>
    </div>
<% } %> 