<div id="FullNav" class="overlay">
    <a id="CloseButton" href="javascript:void(0)" class="closebtn">&times;</a><!--Close Button-->
    <h1 id="OVT" class="Overlay-Title"></h1> <!--Title Changes based on Current place-->
    <div id="OVC" class="Overlay-Content"> <!--Holds different Buttons depending on Type-->
    </div>
    <div id="SKUBRAND" class="Overlay-Content"></div>
    <div id="Options" class="Overlay-Content"></div>
    <div id="SubmitButton" class="AddSubmitButtonContainer">
    </div>
    <p style="color:red; display: none;" id="NeedSKU">Please Enter a SKU</p>
</div>