.ItemTypeButton{
    margin-right: 10px;
    margin-bottom: 10px;   
}
.ItemTypeButton:active{
    background-color: lightcoral;
}

.OptionsContainer{
    display: flex;
    justify-content: center;
    /* flex-flow: wrap;
    flex-basis: 0;
    flex-grow: 1; */
}


.OptionsContainer::-webkit-scrollbar{
    display: none;
}

.OList::-webkit-scrollbar{
    display: none;
}


.SubmitButton:active{
    background-color: white;
}



.CheckBoxList{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    /* column-gap: 5px; */
}