.ListContainer{
    color: black;
    /* border-color: black; */
    border-style: solid;
}
.ListContainer::-webkit-scrollbar{
    display: none;
}

.Item{
    background-color: #1E2E54;
    color: white;
    text-align: center;
    border-radius: 10px;
    /* border-color: black; */
    /* border-style: solid; */
    transition: transform 1.2s;
    transform: scale(1);
}

.Item:hover{
    will-change: transform;
    transition: transform 1s;
    transform: scale(1.05) translateZ(0);
    backface-visibility: hidden;
}



.InfoContainer{
    display: flex;
    flex-direction:column;
    height: 60%;
    justify-content: end;
    
}

.InfoDisplay{
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 5px;
}


.EditAddContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10%;
    height: 20%;
    margin-left: 3%;
    margin-right: 3%;
}


.EditButton, .DeleteButton{

}

button, .EditButton, .DeleteButton{
    background-color: #F65E00;
    color: black;
    font-weight: 700;
    font-size: medium;
    /* border-color: white; */
    /* border-style: solid; */
    border-radius: 5px;
    border: none;

}

.EditButton{
    margin-top: 5px;
    margin-left: 5px;
}

.DeleteButton{
    margin-top: 5px;
    margin-right: 5px;
}