/* 'Open Sans' font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

.login {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  animation: grow .5s, fadein 1.5s;
  margin-top: 0;
  margin-bottom: 0;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes grow{
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}

@keyframes fadein{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login .LoginInput {
  margin-top: 10px;
  margin-bottom: 0;
}
.login-header {
  background: #61DBFB;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  font-size: 25px;
  border-color: darkgrey;
  border-style: solid;
  border-bottom: none;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */


.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="text"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="text"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #61DBFB;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  color: black;
  font-weight: 700;
  font-size: 20px;
  border-color: darkgrey;
  border-style: solid;
}
.login input[type="submit"]:hover {
  animation: loginGrow 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-color: white;
}
/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}


.Login_Error{
  color: red;
  margin: 0%;
}


@keyframes loginGrow{
  from {
    transform: scale(1);
  }
  to {
    transform: scale(.98);
  }
}