<!DOCTYPE html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="CSS/Main.css">
</head>
<body class="FrontPage">
    <div><h1 class="center SableOrange"><%= PageState.Title %> </h1></div>
    <div> 
        <%- include("../partials/Login/LoginForm") %>
    </div>
</body>

</html>