  <link rel="stylesheet" href="CSS/Login.css">
  <div class="login" id="Login">
      <div class="login-triangle"></div>
      <h2 class="login-header">Log in</h2>
      <form class="login-container", action="/Login" method="post">
        <% if (Data.LoginFailed) { %>
          <p style="color: red;">Username or Password is incorrect</p>
        <% } %>
        <p><input type="text" placeholder="Username" name="email"></p>
        <p><input type="password" placeholder="Password" name="password"></p>
        <p><input type="submit" value="Login"></p>
      </form>
  </div>